<!-- views/index.ejs -->
<h1>Listagem de Procedimentos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Duração</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% procedimentos.forEach(procedimentos => { %>
            <tr>
                <td><%= procedimentos.cod %></td>
                <td><%= procedimentos.nome || 'Desconhecido' %></td>
                <td><%= procedimentos.descricao || 'Desconhecido' %></td>
                <td><%= procedimentos.valor ? procedimentos.valor.toFixed(2) : 'Desconhecido' %></td>
                <td><%= procedimentos.duracao || 'Desconhecido' %></td>
                <td>
                    <a href="/procedimentos/<%= procedimentos.cod %>" class="btn btn-primary">Detalhes</a>
                    <a href="/procedimentos/<%= procedimentos.cod %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/procedimentos/<%= procedimentos.cod %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<a href="/procedimentos/new" class="btn btn-primary">Novo Procedimentos</a>
