<!-- views/show.ejs -->
<h1>Detalhes do Procedimento</h1>
<p>Código: <%= procedimento.cod %></p>
<p>Nome: <%= procedimento.nome ? procedimento.nome : 'Desconhecido' %></p>
<p>Descrição: <%= procedimento.descricao ? procedimento.descricao : 'Desconhecido' %></p>
<p>Valor: <%= procedimento.valor ? procedimento.valor.toFixed(2) : 'Desconhecido' %></p>
<p>Duração: <%= procedimento.duracao ? procedimento.duracao : 'Desconhecido' %></p>
<a href="/procedimentos" class="btn btn-primary">Voltar para a Lista</a>
