<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>

    <h1>Produtos</h1>
    <ul>
        <% produtos.forEach(produto => { %>
            <li>
                <strong><%= produto.nome %></strong><br>
                <p>Preço: <%= produto.valor %></p>
                <p>Marca: <%= produto.marca %></p>
                <p><%= produto.descricao %></p>
                <img src="<%= produto.foto %>" alt="Imagem do produto">
            </li>
        <% }); %>
    </ul>

</body>
</html>
