<h1>Listagem de Feedbacks</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Comentário</th>
            <th>Avaliação</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% if (feedbacks.length === 0) { %>
            <tr>
                <td colspan="4" class="text-center">Nenhum feedbacks encontrado.</td>
            </tr>
        <% } else { %>
            <% feedbacks.forEach(feedbacks => { %>
                <tr>
                    <td><%= feedbacks.cod %></td>
                    <td><%= feedbacks.comentario.length > 50 ? feedbacks.comentario.substring(0, 50) + '...' : feedbacks.comentario %></td>
                    <td><%= feedbacks.avaliacao %></td>
                    <td>
                        <a href="/feedbacks/<%= feedbacks.cod %>" class="btn btn-primary">Detalhes</a>
                        <a href="/feedbacks/<%= feedbacks.cod %>/edit" class="btn btn-warning">Editar</a>
                        <form action="/feedbacks/<%= feedbacks.cod %>?_method=DELETE" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
</table>
<a href="/feedbacks/new" class="btn btn-primary">Novo feedbacks</a>
