<h1>Listagem de Agendas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Procedimento</th>
            <th>Profissional</th>
            <th>Forma de Pagamento</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% agendas.forEach(agenda => { %>
            <tr>
                <td><%= agenda.agenda_cod %></td>
                <td><%= agenda.cliente_nome %></td>
                <td><%= agenda.procedimento_nome %></td>
                <td><%= agenda.profissional %></td>
                <td><%= agenda.forma_pag %></td>
                <td><%= new Date(agenda.data).toLocaleDateString('pt-BR') %></td>
                <td><%= agenda.hora %></td>
                <td>
                    <a href="/agenda/<%= agenda.agenda_cod %>" class="btn btn-primary">Detalhes</a>
                    <a href="/agenda/<%= agenda.agenda_cod %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/agenda/<%= agenda.agenda_cod %>?_method=DELETE" method="POST" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
<a href="/agenda/create" class="btn btn-success">Cadastrar Nova Agenda</a>
