<h1>Editar Item do Procedimento</h1>
<form action="/items_proce/<%= itemProce.cod %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="produto_cod">Produto</label>
        <select class="form-control" id="produto_cod" name="produto_cod" required>
            <% produtos.forEach(produto => { %>
                <option value="<%= produto.cod %>" <%= itemProce.produto_cod === produto.cod ? 'selected' : '' %>><%= produto.nome %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="procedimento_cod">Procedimento</label>
        <select class="form-control" id="procedimento_cod" name="procedimento_cod" required>
            <% procedimentos.forEach(procedimento => { %>
                <option value="<%= procedimento.cod %>" <%= itemProce.procedimento_cod === procedimento.cod ? 'selected' : '' %>><%= procedimento.nome %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" value="<%= itemProce.quantidade %>" required min="1" placeholder="Quantidade mínima é 1">
    </div>
    
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>

<a href="/items_proce" class="btn btn-primary">Voltar para a Lista</a>
