<h1>Detalhes do Item do procedimentos</h1>
<p>ID: <%= items_proce.cod %></p>
<p>procedimentos: <%= items_proce.procedimentos %></p>
<p>produtos: <%= items_proce.produtos %></p>
<p>Quantidade: <%= items_proce.quantidade %></p>

<a href="/items_proces" class="btn btn-primary">Voltar à Lista</a>
<a href="/items_proces/<%= items_proce.cod %>/edit" class="btn btn-warning">Editar</a>

<form action="/items_proces/<%= items_proce.cod %>?_method=DELETE" method="POST" style="display: inline;">
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
