<h1>Listagem de Usa</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Procedimento</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <% usas.forEach(usa => { %>
            <tr>
                <td><%= usa.id %></td>
                <td><%= usa.procedimento %></td>
                <td><%= usa.produto %></td>
                <td><%= usa.quantidade %></td>
                <td>
                    <a href="/usas/<%= usa.id %>" class="btn btn-primary">Detalhes</a>
                    <a href="/usas/<%= usa.id %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/usas/<%= usa.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<a href="/usas/new" class="btn btn-primary">Nova Usa</a>
