<h1>Lista de Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th>Foto</th>
           
        </tr>
    </thead>
    <tbody>
        <% produtos.forEach(produto => { %>
            <tr>
                <td><%= produto.cod %></td>
                <td><%= produto.nome %></td>
                <td><%= produto.valor %></td>
                <td><%= produto.marca %></td>
                <td><%= produto.descricao %></td>
                <td><%= produto.foto %></td>
                <td>
                    <a href="/produtos/<%= produto.cod %>" class="btn btn-primary">Ver</a>
                    <a href="/produtos/<%= produto.cod %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/produtos/<%= produto.cod %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
