<h1 class="mb-4">Detalhes do Produto</h1>
<p><strong>Código:</strong> <%= produtos.cod %></p>
<p><strong>Nome:</strong> <%= produtos.nome %></p>
<p><strong>Valor:</strong> R$ <%= produtos.valor %></p>
<p><strong>Marca:</strong> <%= produtos.marca %></p>
<p><strong>Descrição:</strong> <%= produtos.descricao %></p>
<a href="/produtos" class="btn btn-primary mt-3">Voltar à Lista</a>
