<h1>Detalhes do Produto</h1>
<p>Código: <%= produto.cod %></p>
<p>Nome: <%= produto.nome %></p>
<p>Descrição: <%= produto.descricao %></p>
<p>Valor: <%= produto.valor %></p>
<p>Restrição: <%= produto.restricao %></p>
<p>Indicação: <%= produto.indicacao %></p>
<p>Marca: <%= produto.marca %></p>
<a href="/produtos" class="btn btn-primary">Voltar à Lista</a>
