<h1>Lista de Clientes</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% clientes.forEach(cliente => { %>
            <tr>
                <td><%= cliente.nome %></td>
                <td><%= cliente.genero %></td>
                <td><%= cliente.endereco %></td>
                <td><%= cliente.fone %></td>
                <td><%= cliente.email %></td>
                <td>
                    <!-- Link para ver detalhes do cliente -->
                    <a href="/clientes/<%= cliente.cod %>" class="btn btn-info">Ver</a>
                    <!-- Link para editar informações do cliente -->
                    <a href="/clientes/<%= cliente.cod %>/edit" class="btn btn-warning">Editar</a>
                    
                    <!-- Formulário para excluir o cliente -->
                    <form action="/clientes/<%= cliente.cod %>?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
