<h1>Lista de Clientes</h1>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% clientes.forEach(cliente => { %>
            <tr>
                <td><%= cliente.nome %></td>
                <td><%= cliente.genero %></td>
                <td><%= cliente.endereco %></td>
                <td><%= cliente.fone %></td>
                <td><%= cliente.email %></td>
                <td>
                    <a href="/clientes/<%= cliente.cod %>" class="btn btn-info">Ver</a>
                    <a href="/clientes/<%= cliente.cod %>/edit" class="btn btn-warning">Editar</a>
                    <a href="/clientes/<%= cliente.cod %>/delete" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
