<h1>Detalhes do clientes</h1>
<p><strong>ID:</strong> <%= clientes.cod %></p>
<p><strong>Nome:</strong> <%= clientes.nome %></p>
<p><strong>Telefone:</strong> <%= clientes.fone %></p>
<p><strong>Email:</strong> <%= clientes.email %></p>
<p><strong>Data de Nascimento:</strong> <%= new Date(clientes.data_de_nascimento).toLocaleDateString('pt-BR') %></p>
<a href="/clientes" class="btn btn-primary">Voltar à Lista</a>
