<h1>Detalhes do Cliente</h1>
<p>ID: <%= cliente.cod %></p>
<p>Nome: <%= cliente.nome %></p>
<p>Telefone: <%= cliente.fone %></p>
<p>Email: <%= cliente.email %></p>
<p>Data de Nascimento: <%= cliente.data_de_nascimento %></p>
<a href="/clientes" class="btn btn-primary">Voltar à Lista</a>
